@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Inter", sans-serif;

    
    }
            #shape {
                font-family: "Dancing Script", cursive;
                font-optical-sizing: auto;
                font-weight: weight;
                font-style: normal;
                
             }
/* rgba(0, 0, 0, 0.7) */
/* default style */
.orange{
    background-color: rgba(230, 83, 60, 1);
}
.light-gray{
    color: rgba(255, 255, 255, 0.5);
}
.white{
    color: rgba(255, 255, 255, 1);
}
.black{
    color: rgba(255, 255, 255, 0.1);
}
.bblack{
    background-color: black;
    border: 2px solid white;
}
.btn{
    background-color:rgba(230, 83, 60, 1) ;
    padding: 10px 20px ;
    border-radius: 40px;
    
}
.banner-btn{
    width: 13rem;
    padding: 0.8rem;
    border-radius: 40px;
    

}
header{
   /* background-color: linear(100% rgba(17, 17, 17, 1) 55%rgba(63, 63, 63, 0.5497)100%rgba(119, 119, 119, 0)); */
   background: linear-gradient(360.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 800%);
   border: none;
   }
/* start navbar */
.navbar{
        display: flex;
        align-items: center;
    justify-content: space-between;
        margin: 0px 8%;
}
.navbar ul{
    display: flex;
    gap: 3rem;
    border: 0.1px solid rgba(255, 255, 255, 0.5);
    padding: 10px 15px 10px 0px;
    border-radius: 40px;
    margin-top: 50px;
    background-color: black;
}
.navbar li{
    list-style: none;
    
}

.navbar a{
    text-decoration: none;
    color: white;
    }
.logo{
    font-weight: 800;
    font-size: 2.2rem;
    color:rgba(230, 83, 60, 1); ;
    margin-top: 4%;
    }
    .menu-icon{
        display: none;
    }
    .menu-icon i{
color: #fff;
font-size: 1.4rem;
    }
    /* banner section */
.banner{
    max-width: 85%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    margin-bottom: 0%;
       }
.banner-container{
        width: 50%;
       }
.banner-title{
    
    font-size: 4.9rem;
}
.banner-img img{
    width:85%;
       }
.banner-description{
    margin: 20px 0px;
}
.banner-btn{
    font-weight: 600;
}
.box-container{
    color: white;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.box-container .box{
    background-color: #282828;
    padding: 10px;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    
    }
.box-container .container-2{
position: relative;
width: 40%;
height: 3.3rem;
right: 20%;
bottom: 8rem;
background-color: #282828;
    padding: 10px;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    align-items: center;
}
.box-container .box-2{
    position: relative;
    width: 45%;
    height: 3.7rem;
        bottom: 25rem;
    right: 1%;
    background-color: #282828;
    
}
.circle{
    width: 25px;
    height: 25px;
    background-color: rgba(230, 83, 60, 1);
    border-radius: 50%;
    margin-right: 10px;
}
.container-2{
    display: flex;
}
main{
    background-color: black;
}
.habit-container{
        max-width: 80%;
    margin: 0 auto;
        padding-top: 7%;
}
.habit-title{
    font-size: 3rem;
    margin-bottom: 15px;
}
.habit{
    text-align: center;
    margin: auto;
}
.habit-img{
    display: grid;
    grid-template-columns: repeat(4,1fr);
        text-align: center;
        margin-top: 40px;
        
}
.fit-img{
    border-radius: 50%;
}
.gray{
    color: rgba(255, 255, 255, 0.5);
}
.white{
    color: rgba(255, 255, 255, 1);
}
.habit-img h4{
    margin-bottom: 2px;
}
.run-container{
    max-width: 80%;
margin: 80px auto;
background-color: #282828;
display: flex;
justify-content: space-between;
padding: 30px;
border-radius: 13px;
}
.run-description{
width: 50%;
}
.run-container .run-img img{
width: 100%;
height: 20.6rem;
border-radius: 20px;
}
.run-container h2{
font-size: 3rem;
margin-bottom: 15px;
}
.btn-primary {
font-size: 18px;
font-weight: 600;
background-color: #E6533C;
padding: 1rem 4.5rem;
border-radius: 35px;
color: white;
margin-top: 25px;
border: none;
}
/* start bmi section  */
.bmi-container{
    background-color:#282828;
}

        table {
            border-collapse: collapse;
        }

        td,
        th {
            border: 1px solid white;
            padding: 5px 10px;
        }
        .bmi-container{
            width: 80%;
             margin:0px  auto;
                                   display: flex;
            justify-content: space-between;
            justify-content: center;
            padding: 5% 10%;
            color: white;
             
            
        }
        .bmi-table{
            width: 40%;
        }
        .bmi-input{
            width: 60%;
                    }
        .bmi-container caption{
            font-size: 1.7rem;
            margin-bottom: 3.3rem;
        }
        .bm-input{
            background-color: rgba(255, 255, 255, 0.1);
        }
        
                .bmi-input input{
            width: 38%;
            height: 2.7rem;
            margin: 5px 5px 5px 0px;
            border-radius: 5px;
            border: none;
            color: white;

        }
         .bmi-input #sex{
            width: 38%;
            height: 2.7rem;
            margin: 5px 5px 5px 0px;
            border-radius: 5px;
            border: none;
            background-color: rgba(255, 255, 255, 0.1);
            color: white;
        }
        .bmi-input #factor{
            width: 78%;
            height: 40px;
            margin: 5px 5px 0px 0px;
            border-radius: 5px ;
            border: none;
            background-color: rgba(255, 255, 255, 0.1);
            color: white;
        }
        .bmi-input h3{
            font-size: 1.7rem;
            margin-bottom: 1.5rem;
            align-items: center;
            margin-top: 0%;
        }
        .bmi-container table{
            width: 70%;
            height: 190px;
        }
        /* start of team section  */
        .team-container{
            width: 80%;
            margin: 0px auto;
                                }
        .img-container{
            width: 100%;
                        display: grid;
            grid-template-columns: repeat(3,1fr);
                        background-color:  rgba(255, 255, 255, 0.1);
            padding: 1%;
            border-radius: 10px;
gap: 2rem;

                    }
        .img-container img{
width: 100%;
            height:100%;
         border-radius: 20px;
        }
        .img-container h4 p{
            position: relative;
            bottom: 20%;
        }
        .team-title-container{
            text-align: center;
margin: 6% 22% 4% 22%;
        }
        #team-title{
            font-weight: 800;
            font-size: 3rem;
            margin-bottom: 1rem;
            
        }
        .relative{
            position: relative;
            bottom: 14%;
            left: 5%;
        }
        .img-container h4{
font-size: 1.5rem;
        }
        .img-container p{
color:rgba(255, 255, 255, 0.5) ;
        }
        main{
        padding-bottom: 6%;
        border: none;
        }